/notebooks/log.txt
/venv/
/notebooks/temp/
/.env
/notebooks/.env
common/*/__pycache__/*.cpython*.pyc
common/*/__pycache__/*
/notebooks/*/temp.jpg
/.idea/vcs.xml
/notebooks/*/temp.json
/**/*/log.txt
/**/*/temp,*
/notebooks/pipelines/images/temp/
/notebooks/pipelines/images/temp.jpg
/notebooks/pipelines/images/temp.json
/notebooks/pipelines/images/.ipynb_checkpoints/
/notebooks/pipelines/images/metadata.jsonl
/notebooks/pipelines/images/sexy.json
/notebooks/pipelines/images/temp.ipynb
/notebooks/pipelines/images/training.txt
